@font-face {
    font-family: 'SVN-Blooming';
    src: url('SVN-Blooming-Regular.woff2') format('woff2'),
        url('SVN-Blooming-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Christmas Sparkle PERSONAL USE';
    src: url('ChristmasSparklePERSONALUSE.woff2') format('woff2'),
        url('ChristmasSparklePERSONALUSE.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Blooming';
    src: url('SVN-Blooming-Regular.woff2') format('woff2'),
        url('SVN-Blooming-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: fontkyten;
    src: url('Thesignature.woff2') format('woff2'),
        url('Thesignature.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Thesignature';
    src: url('Thesignature.woff2') format('woff2'),
        url('Thesignature.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Blooming';
    src: url('SVN-Blooming-Regular.woff2') format('woff2'),
        url('SVN-Blooming-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Thesignature';
    src: url('Thesignature.woff2') format('woff2'),
        url('Thesignature.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Thesignature';
    src: url('Thesignature.woff2') format('woff2'),
        url('Thesignature.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Christmas Sparkle PERSONAL USE';
    src: url('ChristmasSparklePERSONALUSE.woff2') format('woff2'),
        url('ChristmasSparklePERSONALUSE.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

